language: rust
os: linux
dist: xenial

cache:
  - cargo

rust:
  - stable

before_script:
  - (test -x $HOME/.cargo/bin/cargo-install-update || cargo install cargo-update)
  - (test -x $HOME/.cargo/bin/mdbook || cargo install --vers "^0.3" mdbook)
  - cargo install-update -a

script:
  - mdbook build ./

deploy:
    strategy: git
    provider: pages
    skip_cleanup: true
    token: $GITHUB_TOKEN
    local_dir: ./book
    keep_history: false
    on:
      branch: master